/* All good :/ */
.entitystate-on {
  opacity: 0;
}

.entitystate-off {
  display: none !important;
}

.static-value, .static-value tspan {
  fill: #000000;
  font-weight: bold;
}

.zuflussH {
  fill: #3e6dca !important;
  color: #3e6dca !important;
  animation-name: zuflussH;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 100% 0%;
}

@keyframes zuflussH{
  0% {
    transform: scaleX(0%);
  }

  50% {
    transform: scaleX(50%);
  }
  
  100% {
    transform: scaleX(100%);
  }
}

.zuflussV {
  fill: #3e6dca !important;
  color: #3e6dca !important;
  animation-name: zuflussV;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 0% 100%;
}

@keyframes zuflussV{
  0% {
    transform: scaleY(0%);
  }

  50% {
    transform: scaleY(50%);
  }
  
  100% {
    transform: scaleY(100%);
  }
}

.rad {
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  
.rad2 {
  animation-name: spin2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.flussH {
  fill: #3e6dca !important;
  color: #3e6dca !important;
  animation-name: abflussH;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 0% 0%;
}

@keyframes abflussH{
  0% {
    transform: scaleX(0%);
  }

  50% {
    transform: scaleX(50%);
  }
  
  100% {
    transform: scaleX(100%);
  }
}

.flussV {
  fill: #3e6dca !important;
  color: #3e6dca !important;
  animation-name: abflussV;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 0% 0%;
}

@keyframes abflussV{
  0% {
    transform: scaleY(0%);
  }

  50% {
    transform: scaleY(50%);
  }
  
  100% {
    transform: scaleY(100%);
  }
}

.pumping {
  fill: #3e6dca !important;
  color: #3e6dca !important;
  animation-name: pumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes pump{
  0% {
    transform: translate(0px,0px);
  }

  50% {
    transform: translate(0px, -5px);
  }
  
  100% {
    transform: translate(0px, 0px);
  }
}

.heating {
  animation: heat;
  animation-name: heat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 0% 0%;
}

@keyframes heat{
  0% {
    fill: #507eec;
    transform: scaleX(100%);
  }

  50% {
    fill: #ef7e87;
    transform: scaleX(50%);
  }
  
  100% {
    fill: #507eec;
    transform: scaleX(100%);
  }
}