/* All good :/ */
.entitystate-on {
  opacity: 0;
}

.entitystate-off {
  display: none !important;
}

.static-value, .static-value tspan {
  /* fill: #000000; */
  font-weight: bold;
}

.opacity-0 {
  opacity: 0 !important;
  pointer-events: none; /* Optional, verhindert, dass es noch klickbar ist */
}

.dreieckbatterieout {
  animation-name: dreickeckblink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes dreickeckblink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.batteriein {
  animation: batteryFlow 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes batteryFlow {
  0%   { transform: translate(0, 0); }
  49%  { transform: translate(0, 5.5px); }          /* erst runter */
  50%  { transform: translate(0, 5.5px); }          /* kurzer Halt */
  100% { transform: translate(-41px, 5.5px); }      /* dann nach links */
}

.solarin {
  animation: moveDown 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes moveDown {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(0, 59px); }
}

.netzin {
  animation: netzFlow 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes netzFlow {
  0%   { transform: translate(0, 0); }
  49%  { transform: translate(0, 5.0px); }              /* runter */
  50%  { transform: translate(0, 5.0px); }              /* kurzer Halt */
  75%  { transform: translate(-32.7px, 5.0px); }        /* nach links */
  100% { transform: translate(-32.7px, 0px); }          /* nach oben */
}

.netzout {
  animation: netzFlow2 6s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes netzFlow2 {
  0%   { transform: translate(0, 0); }
  49%  { transform: translate(0, 5.0px); }          /* erst runter */
  50%  { transform: translate(0, 5.0px); }          /* kurzer Halt */
  75%  { transform: translate(102px, 5.0px); }       /* dann nach links */
  100% { transform: translate(102px, -32px); }         /* dann nach oben */
}


.hausin {
  animation: hausFlow 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes hausFlow {
  0%   { transform: translate(0, 0); }
  49%  { transform: translate(0, -54px); }         /* nach oben */
  50%  { transform: translate(0, -54px); }         /* kurzer Halt */
  100% { transform: translate(16.3px, -54px); }    /* dann nach rechts */
}


.rad {
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


